<!DOCTYPE HTML>
<html ng-app="recon">
<head>

	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="styles/css/style.css">

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/foundation/js/foundation.min.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>
	
</head>
<body ng-controller="Main">

<!-- nav -->
<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1>
				<a href="#" ng-click="setView('List')">Open Reconstruction</a>
			</h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li>
				<a ng-click="requests.addSampleData(10)">Generate Sample Data</a>
			</li>
			<li class="has-dropdown not-click">
				<a href="#">{{users.current.name}}</a>
				<ul class="dropdown">
					<li>
						<a ng-click="setView('Account')">Account Details</a>
					</li>
					<li ng-repeat="user in users.list">
						<a ng-click="users.switchTo(user)">Switch to {{user.name}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</nav>

<!-- main -->
<div ng-controller="List" ng-if="curView == 'List'">
	<section>
		<div class="row">
			<h1>
				List of Requests
			</h1>
			<button class="button" ng-click="setView('New')">
				new
			</button>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="columns large-4">
				Hi
			</div>
			<div class="columns large-8">
				<ul>
					<li ng-repeat="req in requests.list" ng-click="requests.current = req; setView('Detail')">
						{{req.date | date:'MMM d'}}
						{{req.code}}
						{{req.disaster.type}}
						{{req.project.type}}
						{{req.project.description}}
						{{req.amount | number}}
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<!-- request detail -->
<div ng-controller="Detail" ng-if="curView == 'Detail'">
	<section>
		<div class="row">
			{{requests.current}}
			<h3>
				{{requests.current.code}}
			</h3>
			<h1>
				{{requests.current.project.description}}
			</h1>
			<h3>
				{{requests.current.date | date: 'MMM d, yyyy'}}
			</h3>

			<h2>
				Disaster
			</h2>
			<h4>Name</h4>
			<p>{{requests.current.disaster.name}}</p>
			<h4>Type</h4>
			<p>{{requests.current.disaster.type}}</p>
			<h4>Date</h4>
			<p>{{requests.current.disaster.date | date: 'MMM d, yyyy'}}</p>
			<h4 ng-if="requests.current.disaster.cause">Cause</h4>
			<p>{{requests.current.disaster.cause}}</p>
		</div>
	</section>
</div>

<!-- new request -->
<div ng-controller="New" ng-if="curView == 'New'">
	<section>
		<div class="row">
			<div class="columns large-12">
				<h1>
					New Request
				</h1>
			</div>
		</div>
	</section>
	<section>
		<form ng-submit="submit()">
			<div class="row">
				<div class="columns large-8">
					<fieldset>
						<legend>
							Disaster
						</legend>
						<label>
							Type
							<select ng-model="getCurReq().disaster.type" ng-options="type for type in types.disaster">
							</select>
						</label>
						<label>
							Name
							<input type="text" ng-model="getCurReq().disaster.name" />

						</label>
						<label ng-if="getCurReq().disaster.type == 'Anthropogenic'">
							Cause
							<input type="text"  ng-model="getCurReq().disaster.cause" />
						</label>
					</fieldset>
					<fieldset>
						<legend>
							Project
						</legend>
						<label>
							Project Type
							<select ng-model="getCurReq().project.type" ng-options="type for type in types.project">
							</select>
						</label>
						<label>
							Description
							<textarea ng-model="getCurReq().project.description"></textarea>
						</label>
						<label>
							Requested Amount
							<input type="number" ng-model="getCurReq().amount" />
						</label>
					</fieldset>
					<!-- <label>
						Upload Attachments
					</label> -->
					<button class="button">
						Submit
					</button>
					<button class="button alert" ng-click="setView('List')">
						Cancel
					</button>
				</div>
			</div>
		</form>
	</section>
</div>

<!-- account -->
<div ng-controller="Account" ng-if="curView == 'Account'">
	<section>
		<div class="row">
			<h1>Hi, {{users.current.name}}!</h1>
			<div ng-repeat="(key, value) in users.current.address" ng-show="value">
				{{key}}: {{value}}
			</div>
		</div>
	</section>
</div>

</body>
</html>