<!DOCTYPE HTML>
<html ng-app="recon">
<head>

	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="styles/css/style.css">

	<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/highcharts.com/js/highcharts.src.js"></script>
	<script type="text/javascript" src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
	
	<script type="text/javascript" src="bower_components/foundation/js/foundation.min.js"></script>
	<script type="text/javascript" src="scripts/truncate.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>
	
</head>
<body ng-controller="Main">

<!-- nav -->
<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1>
				<a href="#" ng-click="setView('List')">Open Reconstruction</a>
			</h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="left">
			<li>
				<a href="#" ng-click="setView('Overview')">
					Overview
				</a>
			</li>
			<li>
				<a href="#" ng-click="setView('List')">
					Projects
				</a>
			</li>
		</ul>
		<ul class="right">
			<li>
				<a ng-click="requests.addSampleData(10)">Generate Sample Data</a>
			</li>
			<li class="has-dropdown not-click">
				<a href="#">
					<img class="portrait sml" ng-src="{{users.current.picture}}" ng-if="users.isLoggedIn">{{users.current.getName()}}
					<span ng-if="!users.isLoggedIn">Log in</span>
				</a>
				<ul class="dropdown">
					<li>
						<a ng-click="setView('Account')">Account Details</a>
					</li>
					<li ng-repeat="user in users.list">
						<a ng-click="users.switchTo(user)">Switch to {{user.getName()}}</a>
					</li>
					<li ng-if="users.isLoggedIn">
						<a ng-click="users.logout()">
							Logout
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</nav>
<!-- public facing dashboard -->

<div ng-controller="Overview" ng-if="curView == 'Overview'">
	<section class="banner">
		<div class="row">
			<div class="columns medium-12">
				<h1>
					Overview
				</h1>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="columns medium-12">
				<h1><small>Project Status</small></h1>
			</div>
		</div>
		<div class="row">
			<div class="columns medium-6">
				<div class="row">
					<div class="columns medium-6">
						<h1 class="number">{{requests.list.length}}</h1>
						<p>Total number of projects</p>
					</div>
					<div class="columns medium-6">
						<h1 class="number">{{requests.totalPending().length}}</h1>
						<p>Pending projects</p>
					</div>
				</div>
				<div class="row">
					<div class="columns medium-6">
						<h1 class="number">{{requests.totalApproved().length}}</h1>
						<p>Approved projects</p>
					</div>
					<div class="columns medium-6">
						<h1 class="number">{{requests.percentApproved()}}%</h1>
						<p>Percent of all projects approved</p>
					</div>
				</div>
			</div>
			<div class="columns medium-6">
				<highchart id="chart1" config="chartConfig"></highchart>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="columns medium-12">
				<h1><small>Project Costs</small></h1>
			</div>
		</div>
		<div class="row">
			<div class="columns medium-3">
				<h1 class="number">{{requests.totalCost() | largeCurrency}}</h1>
				<p>Total cost of all projects</p>
			</div>
			<div class="columns medium-3 end">
				<h1 class="number">{{requests.pendingCost() | largeCurrency}}</h1>
				<p>Cost of pending projects</p>
			</div>
			<div class="columns medium-3 end">
				<h1 class="number">{{requests.approvedCost() | largeCurrency}}</h1>
				<p>Amount approved</p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="columns medium-12">
				<h1><small>Trends</small></h1>
			</div>
		</div>
		<div class="row">
			<div class="columns medium-3">
				<h1 class="number">{{requests.mostCommonProjectType()[0]}}</h1>
				<p>Most common project type</p>
			</div>
			<div class="columns medium-3 end">
				<h1 class="number">{{requests.mostCommonDisasterType()[0]}}</h1>
				<p>Most common disaster type</p>
			</div>
			<div class="columns medium-3 end">
				<h1 class="number">{{users.current.getName()}}</h1>
				<p>Most amazing person</p>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="columns medium-12">
				<h1><small>Charts</small></h1>
			</div>
		</div>
		<div class="row">
			<div class="columns medium-4 end">
				
			</div>
		</div>
	</section>
</div>

<!-- list -->
<div ng-controller="List" ng-if="curView == 'List'">
	<section class="banner">
		<div class="row">
			<div class="columns medium-12">
				<h1>
					List of Requested Projects
					<button class="button small right white" ng-click="setView('New')" ng-if="users.current.level == 0">
						Make new request
					</button>
				</h1>
				
			</div>
		</div>
	</section>

	<section>
		<div class="row">
			
			<div class="columns medium-9">
				<ul class="button-group">
					<Li><button class="button small secondary" ng-click="filters.reset();" ng-class="{warning: !filters.current.level}">
						All
					</button></Li>
					<li ng-repeat="level in levels"><button class="button small secondary" ng-click="filters.current.level = $index" ng-if="!$first" ng-class="{warning: filters.current.level == $index}">
					 	{{level}}
					</button></li>
				</ul>

				<h3 ng-if="filters.current.level">Showing requests pending at the {{levels[filters.current.level]}} level</h3>
				<h3 ng-if="!filters.current.level">
				Showing all requests
				</h3>

				<ul>
					<li class="request" ng-repeat="req in requests.list | filter:filters.current" ng-click="requests.current = req; setView('Detail')">
						<!-- {{req.date | date:'MMM d'}} -->
						<!-- {{req.code}} -->
						<h5>
							{{req.project.description}} 
							<span class="right">{{req.project.amount | number}}</span>
						</h5>
						<span class="label radius alert">{{req.disaster.type}}</span>
						<span class="label radius">{{req.project.type}}</span>
						<span class="label radius">{{levels[req.level]}}</span>
						
					</li>
				</ul>
			</div>

			<div class="filters columns medium-3">
				<div class="clearfix">
					<button 
					class="button small right" 
					ng-click="filters.reset(); filters.current.author = users.current"
					ng-if="users.current.level == 0">
						Show my requests
					</button>
					<button
					class="button small right" 
					ng-click="filters.reset(); filters.current.level = users.current.level"
					ng-if="users.current.level > 0">
						Show requests assigned to me
					</button>
				</div>
				<h5>
					Filter by Disaster Type
				</h5>
				<button
				class="filter round"
				ng-class="{active: !filters.current.disaster.type}"
				ng-click="filters.reset();">
					All
				</button>
				<button 
				class="filter round" 
				ng-class="{active: filters.current.disaster.type == d}"
				ng-repeat="d in types.disaster" 
				ng-click="filters.reset(); filters.current.disaster.type = d">
					{{d}}
				</button>

				<hr>

				<h5>
					Filter by Project Type
				</h5>
				<ul class="tabs">

				</ul>
				<button
				class="filter round"
				ng-class="{active: !filters.current.project.type}"
				ng-click="filters.reset();">
					All
				</button>
				<button 
				class="filter round" 
				ng-class="{active: filters.current.project.type == p}"
				ng-repeat="p in types.project" 
				ng-click="filters.reset(); filters.current.project.type = p">
					{{p}}
				</button>
			</div>
		</div>
	</section>
</div>

<!-- request detail -->
<div ng-controller="Detail" ng-if="curView == 'Detail'">
	<section>
		<div class="row">
			<div class="prog">
				<div class="step" ng-repeat="level in levels" ng-if="!$first" ng-class="{approved: $index < requests.current.level, pending: $index == requests.current.level}">
					<span class="number">{{$index}}</span>
					{{level}}
					<span class="label" ng-if="$index < requests.current.level">
						<i class="fa fa-check"></i>
					</span>
					<span class="label" ng-if="$index == requests.current.level">
						Pending
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="columns medium-9">
				<h3>
					Filed {{requests.current.date | date: 'MMM d, yyyy'}}
				</h3>
				<h1>
					{{requests.current.project.description}}
				</h1>
				<h4>Type</h4>
				<p>{{requests.current.project.type}}</p>
				<h4>Amount</h4>
				<p>{{requests.current.project.amount | number}}</p>
				<!-- attachments -->
				<h4>Attachments</h4>
				<ul class="attachments small-block-grid-3">
					<li ng-repeat="a in requests.current.attachments">
						<div class="placeholder">
							<h3>Document {{a.number + 1}}</h3>
						</div>
					</li>
				</ul>
				<hr />
				<!-- responses -->
				<div class="response" ng-repeat="response in requests.current.history">
					<div class="comment" ng-if="response.type == 'comment'">
						<img class="portrait med" ng-src="{{response.author.picture}}" />
						<div class="bubble">
							{{response.type}} by {{response.author.getName()}} {{response.timestamp | timeago}}.
							<p>{{response.comment}}</p>
						</div>
					</div>
					<div class="decision" ng-class="{'approval': response.type == 'approval', 'rejection': response.type == 'rejection'}" ng-if="response.type == 'approval' || response.type == 'rejection'">
						<div class="header">
							<hr class="rule l" />
							<div class="seal">
								<i class="fa fa-check" ng-if="response.type == 'approval'"></i>
								<i class="fa fa-times" ng-if="response.type == 'rejection'"></i>
							</div>
							<hr class="rule r" />
						</div>
						<p>
							<span ng-if="response.type == 'approval'">
								Approved
							</span> 
							<span ng-if="response.type == 'rejection'">
								Rejected
							</span>
							by {{response.author.getName()}} on {{response.timestamp | date: 'MMM d'}}, {{response.timestamp | timeago}}
						</p>
						<p ng-if="response.revised">
							Revised from {{response.previous | number}} to {{response.revised | number}}
						</p>
						<p>
							{{response.comment}}
						</p>
					</div>
				</div>
				<div class="actions row">
					<form ng-submit="submit()">
						<label ng-if="users.current.level == requests.current.level && !requests.current.isRejected">
							Revised Amount (optional)
							<input ng-model="responses.current.revised" type="number">
						</label>
						<label>
							Comment (optional)
							<textarea ng-model="responses.current.comment"></textarea>
						</label>	
						<ul class="button-group">
							<li>
								<button 
								class="button small white" 
								ng-click="responses.current.type = 'comment'"
								>
									Comment
								</button>
							</li>
							<li ng-if="users.current.level == requests.current.level && !requests.current.isRejected">
								<button 
								class="button small"
								ng-click="responses.current.type = 'approval'">
									<span ng-if="responses.current.comment">
										Comment and
									</span>  
									Approve 
									<span ng-if="responses.current.revised">
										with revisions
									</span>
								</button>
							</li>
							<li ng-if="users.current.level == requests.current.level && !requests.current.isRejected">
								<button class="button small alert" ng-click="responses.current.type = 'rejection'" ng-disabled="responses.current.revised">
								<span ng-if="responses.current.comment && users.current.level == request.current.level">Comment and</span> Reject
								</button>
							</li>
							<li ng-if="users.current.level < requests.current.level && users.current.level > 0">
								<div class="thing">
									This has already been approved at your level
								</div>
							</li>
							<li ng-if="requests.current.isRejected">
								<div class="thing">
									This has been rejected at your level
								</div>
							</li>
						</ul>
					</form>
				</div>
			</div>

			<div class="columns medium-3">
				<div class="disaster">
					<h2>
						Disaster
					</h2>
					<h4>Name</h4>
					<p>{{requests.current.disaster.name}}</p>
					<h4>Type</h4>
					<p>{{requests.current.disaster.type}}</p>
					<h4>Date</h4>
					<p>{{requests.current.disaster.date | date: 'MMM d, yyyy'}}</p>
					<h4 ng-if="requests.current.disaster.cause">Cause</h4>
					<p>{{requests.current.disaster.cause}}</p>
				</div>
				<div class="location">
					<h2>
						Location
					</h2>
					<div ng-repeat="(key, value) in requests.current.author.address" ng-show="value">
						<h4>{{key}}</h4>
						<p>{{value}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- new request -->
<div ng-controller="New" ng-if="curView == 'New'">
	<section>
		<div class="row">
			<div class="columns medium-12">
				<h1>
					New Request
				</h1>
			</div>
		</div>
	</section>
	<section>
		<form ng-submit="submit()">
			<div class="row">
				<div class="columns medium-8">
					<fieldset>
						<legend>
							Disaster
						</legend>
						<label>
							Type
							<select ng-model="getCurReq().disaster.type" ng-options="type for type in types.disaster">
							</select>
						</label>
						<label>
							Name
							<input type="text" ng-model="getCurReq().disaster.name" />

						</label>
						<label ng-if="getCurReq().disaster.type == 'Anthropogenic'">
							Cause
							<input type="text"  ng-model="getCurReq().disaster.cause" />
						</label>
					</fieldset>

					<fieldset>
						<legend>
							Location
						</legend>
						<label>
							region
							<select ng-model="getCurReq().location.region" ng-options="type for type in types.region">
							</select>
						</label>
						<label>
							province
							<input type="text" ng-model="getCurReq().location.province">
						</label>
						<label>
							district
							<input type="text" ng-model="getCurReq().location.district">
						</label>
						<label>
							city
							<input type="text" ng-model="getCurReq().location.city">
						</label>
						<label>
							town
							<input type="text" ng-model="getCurReq().location.town">
						</label>
						<label>
							barangay
							<input type="text" ng-model="getCurReq().location.barangay">
						</label>
						<label>
							sitio
							<input type="text" ng-model="getCurReq().location.sitio">
						</label>
					</fieldset>

					<fieldset>
						<legend>
							Project
						</legend>
						<label>
							Project Type
							<select ng-model="getCurReq().project.type" ng-options="type for type in types.project">
							</select>
						</label>
						<label>
							Description
							<textarea ng-model="getCurReq().project.description"></textarea>
						</label>
						<label>
							Requested Amount
							<input type="number" ng-model="getCurReq().project.amount" />
						</label>
					</fieldset>
					<button lass="button secondary">
						Upload Attachments
					</button>
					<!-- <label>
						Upload Attachments
					</label> -->
					<div class="actions">
						<button class="button">
							Submit
						</button>
						<button class="button alert" ng-click="setView('List')">
							Cancel
						</button>
					</div>
				</div>
			</div>
		</form>
	</section>
</div>

<!-- account -->
<div ng-controller="Account" ng-if="curView == 'Account'">
	<section>
		<div class="row">
			<img class="portrait lrg" ng-src="{{users.current.picture}}">
			<h1>Hi, {{users.current.getName()}}!</h1>
			{{users.current.level}}
			<div ng-repeat="(key, value) in users.current.address" ng-show="value">
				{{key}}: {{value}}
			</div>
		</div>
	</section>
</div>

</body>
</html>