<!DOCTYPE HTML>
<html ng-app="recon">
<head>

	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="styles/css/style.css">

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/foundation/js/foundation.min.js"></script>
	<script type="text/javascript" src="scripts/script.js"></script>
	
</head>
<body ng-controller="Main">

<!-- nav -->
<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1>
				<a href="#" ng-click="setView('List')">Open Reconstruction</a>
			</h1>
		</li>
	</ul>
	<section class="top-bar-section">
		<ul class="right">
			<li>
				<a ng-click="requests.addSampleData(10)">Generate Sample Data</a>
			</li>
			<li class="has-dropdown not-click">
				<a href="#">
					<img class="portrait sml" ng-src="{{users.current.picture}}">{{users.current.getName()}}
				</a>
				<ul class="dropdown">
					<li>
						<a ng-click="setView('Account')">Account Details</a>
					</li>
					<li ng-repeat="user in users.list">
						<a ng-click="users.switchTo(user)">Switch to {{user.getName()}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</nav>

<!-- list -->
<div ng-controller="List" ng-if="curView == 'List'">
	<section>
		<div class="row">
			<div class="columns large-12">
				<h1>
					List of Requests
				</h1>
				<button class="button" ng-click="setView('New')" ng-if="users.current.level == 0">
					new
				</button>
			</div>
		</div>
	</section>
	<section>
		<div class="row">
			<div class="columns large-4">
				hi
			</div>
			<div class="columns large-8">
				<button class="button small secondary" ng-repeat="level in levels" ng-click="filterReq.level = $index" ng-if="!$first" ng-class="{warning: filterReq.level == $index}">
				 	{{level}}
				</button>
				<ul>
					<li class="request" ng-repeat="req in requests.list | filter:filterReq" ng-click="requests.current = req; setView('Detail')">
						<!-- {{req.date | date:'MMM d'}} -->
						<!-- {{req.code}} -->
						<h5>
							{{req.project.description}} 
							<span class="right">{{req.project.amount | number}}</span>
						</h5>
						<span class="label radius alert">{{req.disaster.type}}</span>
						<span class="label radius">{{req.project.type}}</span>
						<span class="label radius">{{levels[req.level]}}</span>
						
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>

<!-- request detail -->
<div ng-controller="Detail" ng-if="curView == 'Detail'">
	<section>
		<div class="row">
			<div class="prog">
				<div class="step" ng-repeat="level in levels" ng-if="!$first" ng-class="{approved: $index < requests.current.level, pending: $index == requests.current.level}">
					{{level}}
					<span class="label" ng-if="$index < requests.current.level">
						<i class="fa fa-check"></i>
					</span>
					<span class="label" ng-if="$index == requests.current.level">
						Pending
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- <div class="columns large-3">
			</div> -->
			<div class="columns large-9">
				<!-- <h2>
					Request
				</h2> -->
				<!-- {{levels[requests.current.level]}} -->
				<h3>
					Filed {{requests.current.date | date: 'MMM d, yyyy'}}
				</h3>
				<h1>
					{{requests.current.project.description}}
				</h1>
				<h3>
					{{requests.current.code}}
				</h3>
				<span class="label radius">{{requests.current.project.type}}</span>
				<h4>Amount</h4>
				<p>{{requests.current.project.amount}}</p>
				<hr />
				<div class="response" ng-repeat="response in requests.current.history">
					<div class="comment" ng-if="response.type == 'comment'">
						<img class="portrait med" ng-src="{{response.author.picture}}" />
						<div class="bubble">
							{{response.type}} by {{response.author.getName()}} {{response.timestamp | timeago}}.
							<p>{{response.comment}}</p>
						</div>
					</div>
					<div class="decision" ng-class="{'approval': response.type == 'approval', 'rejection': response.type == 'rejection'}" ng-if="response.type == 'approval' || response.type == 'rejection'">
						<div class="header">
							<hr class="rule l" />
							<div class="seal">
								<i class="fa fa-check" ng-if="response.type == 'approval'"></i>
								<i class="fa fa-times" ng-if="response.type == 'rejection'"></i>
							</div>
							<hr class="rule r" />
						</div>
						<p>
							<span ng-if="response.type == 'approval'">
								Approved
							</span> 
							<span ng-if="response.type == 'rejection'">
								Rejected
							</span>
							by {{response.author.getName()}} on {{response.timestamp | date: 'MMM d'}}, {{response.timestamp | timeago}}
						</p>
						<p>
							{{response.comment}}
						</p>
					</div>
				</div>
				<div class="actions row">
					<form ng-submit="submit()">
						<textarea ng-model="responses.current.comment"></textarea>
						<ul class="button-group">
							<li>
								<button 
								class="button small white" 
								ng-click="responses.current.type = 'comment'">
									Comment
								</button>
							</li>
							<li ng-if="users.current.level == requests.current.level && !requests.current.isRejected">
								<button 
								class="button small"
								ng-click="responses.current.type = 'approval'">
									<span ng-if="comment">Comment and</span>  Approve
								</button>
							</li>
							<li ng-if="users.current.level == requests.current.level && !requests.current.isRejected">
								<button class="button small alert" ng-click="responses.current.type = 'rejection'">
								<span ng-if="comment && users.current.level == request.current.level">Comment and</span> Reject
								</button>
							</li>
							<li ng-if="users.current.level < requests.current.level && users.current.level > 0">
								<div class="thing">
									This has already been approved at your level
								</div>
							</li>
							<li ng-if="requests.current.isRejected">
								<div class="thing">
									This has been rejected at your level
								</div>
							</li>
						</ul>
					</form>
				</div>
			</div>

			<div class="columns large-3">
				<div class="disaster">
					<h2>
						Disaster
					</h2>
					<h4>Name</h4>
					<p>{{requests.current.disaster.name}}</p>
					<h4>Type</h4>
					<p>{{requests.current.disaster.type}}</p>
					<h4>Date</h4>
					<p>{{requests.current.disaster.date | date: 'MMM d, yyyy'}}</p>
					<h4 ng-if="requests.current.disaster.cause">Cause</h4>
					<p>{{requests.current.disaster.cause}}</p>
				</div>
				<div class="location">
					<h2>
						Location
					</h2>
					<div ng-repeat="(key, value) in requests.current.author.address" ng-show="value">
						<h4>{{key}}</h4>
						<p>{{value}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- new request -->
<div ng-controller="New" ng-if="curView == 'New'">
	<section>
		<div class="row">
			<div class="columns large-12">
				<h1>
					New Request
				</h1>
			</div>
		</div>
	</section>
	<section>
		<form ng-submit="submit()">
			<div class="row">
				<div class="columns large-8">
					<fieldset>
						<legend>
							Disaster
						</legend>
						<label>
							Type
							<select ng-model="getCurReq().disaster.type" ng-options="type for type in types.disaster">
							</select>
						</label>
						<label>
							Name
							<input type="text" ng-model="getCurReq().disaster.name" />

						</label>
						<label ng-if="getCurReq().disaster.type == 'Anthropogenic'">
							Cause
							<input type="text"  ng-model="getCurReq().disaster.cause" />
						</label>
					</fieldset>
					<fieldset>
						<legend>
							Project
						</legend>
						<label>
							Project Type
							<select ng-model="getCurReq().project.type" ng-options="type for type in types.project">
							</select>
						</label>
						<label>
							Description
							<textarea ng-model="getCurReq().project.description"></textarea>
						</label>
						<label>
							Requested Amount
							<input type="number" ng-model="getCurReq().project.amount" />
						</label>
					</fieldset>
					<!-- <label>
						Upload Attachments
					</label> -->
					<button class="button">
						Submit
					</button>
					<button class="button alert" ng-click="setView('List')">
						Cancel
					</button>
				</div>
			</div>
		</form>
	</section>
</div>

<!-- account -->
<div ng-controller="Account" ng-if="curView == 'Account'">
	<section>
		<div class="row">
			<img class="portrait lrg" ng-src="{{users.current.picture}}">
			<h1>Hi, {{users.current.getName()}}!</h1>
			{{users.current.level}}
			<div ng-repeat="(key, value) in users.current.address" ng-show="value">
				{{key}}: {{value}}
			</div>
		</div>
	</section>
</div>

</body>
</html>