@import "../../bower_components/foundation/scss/normalize"
@import "../../bower_components/foundation/scss/foundation"
@import "../../bower_components/mrmrs-colors/sass/colors"
@import "bourbon/bourbon"
@import "neat/neat"

@import "variables"

body
	// background-color: $silver

form textarea, form select
	margin-bottom: 1rem

ul
	margin: 0
	list-style: none

button
	outline: none

.button.warning
	+button($padding: $button-sml, $bg: $orange)
	// background-color: $orange

.actions
	// text-align: center
	padding: 20px
	background-color: #eee
	.button-group
		display: inline-block
	.button
		margin-bottom: 0px