@import "../../bower_components/foundation/scss/normalize"
@import "../../bower_components/foundation/scss/foundation"
@import "../../bower_components/mrmrs-colors/sass/colors"
@import "bourbon/bourbon"
@import "neat/neat"


@import "variables"
@import "typography"
@import "tabs"

body
	// background-color: $silver
	font-family: "Roboto Condensed"

form textarea, form select
	margin-bottom: 1rem

ul
	margin: 0
	list-style: none

button
	outline: none

h1
	font-weight: bold

.banner
	background-color: $accent
	margin-bottom: 20px
	padding-top: 40px
	padding-bottom: 20px
	h1 
		color: $white

.button.warning, button.button.active
	+button($padding: $button-sml, $bg: $orange)
.button.white
	+button($padding: $button-sml, $bg: $white)

.filter
	+button($padding: $button-tny, $bg: $white)
	text-align: left
	margin-bottom: 1px
	display: block
	width: 100%
	&.active
		+button($padding: $button-tny, $bg: $orange)
		text-align: left
		margin-bottom: 1px

// .label.warning
// 	+label($bg: darken($orange, 10%))

.request
	+transition(border 0.2s)
	padding: 20px
	border: 1px solid $silver
	border-radius: 3px
	margin-bottom: 20px
	cursor: pointer
	&:hover
		border: 1px solid $black

.actions
	// text-align: center
	padding: 20px
	background-color: #eee
	.button-group
		display: inline-block
	.button
		margin-bottom: 0px
	.thing
		padding: 10px

.portrait
	border-radius: 50%
	&.sml
		height: 32px
		width: 32px
	&.med
		height: 64px
		width: 64px
	&.lrg
		height: 128px
		width: 128px

.top-bar
	.portrait
		margin-right: 10px

.prog
	+clearfix
	width: 100%
	background-color: #eee
	color: $gray
	border-radius: 3px
	overflow: hidden
	margin: 20px 0px
	line-height: 30px
	.step
		+box-sizing(border-box)
		width: 25%
		float: left
		padding: 20px
		font-weight: bold
	.approved
		background-color: $teal
		color: $white
		.label
			+label($bg: darken($teal, 5%))
		.number
			border: 3px solid $white
	.pending
		background-color: darken($teal, 5%)
		color: $white
		+border-right-radius(3px)
		.label
			+label($bg: darken($teal, 10%))
		.number
			border: 3px solid $white
	.number
		display: inline-block
		border-radius: 50%
		width: 36px
		text-align: center
		border: 3px solid $gray

.bubble
	border: 1px solid $silver
	border-radius: 3px
	padding: 20px

.comment
	.portrait
		float: left
	.bubble
		margin-left: 90px
		min-height: 72px
		

.response
	margin-bottom: 20px
	.decision
		p
			text-align: center
			font-weight: bold
	.header
		position: relative
		.rule
			position: absolute
			width: calc(50% - 48px)
			top: 36px
			margin: 0
			&.l
				left: 0
			&.r
				right: 0

.seal
	height: 72px
	width: 72px
	border-radius: 50%
	font-size: 48px
	text-align: center
	line-height: 64px
	margin: 0px auto 10px

.approval
	.seal
		background-color: $teal
		color: darken($teal, 10%)

.rejection
	.seal
		background-color: $red
		color: darken($red, 20%)

.placeholder
	height: 144px
	background-color: $silver
	border: 1px solid $gray
	padding: 20px
	text-align: center
	h3
		color: $gray

h1 small
	color: $orange
	// font-weight: bold
	// font-size: 80px
table
	border: 0

.filter-statement
	font-weight: 300
	margin-left: 10px
	margin-right: 10px

ul.button-group
	margin: 0px 10px
